.products{
    width: 100%;
    height: 100vh;
    background-color: #1b1b1b;
    display: flex;
    padding: 30px;
    box-sizing: border-box;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
    flex-flow: row wrap;
    .product{
        width: 30%;
        h1{
            text-align: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: whitesmoke;
            margin-bottom: 10px;
            text-transform: capitalize;
        }
        p{
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 13px;
            color: whitesmoke;
            line-height: 25px;
            text-align: justify;
        }
        img{
            width: 70%;
            display: block;
            margin: 10px auto;
        }
        a{
            display: block;
            width: 100px;
            height: 30px;
            background-color: green;
            text-align: center;
            text-decoration: none;
            text-transform: capitalize;
            color: whitesmoke;
            margin: 10px auto;
            line-height: 30px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 13px;
            transition: 300ms;
            &:hover{
                background-color: deeppink;
            }
        }
    }
}